#root {
    height: 80%;
    width: 80%;
    background-color: #ebf7ff;
}

.left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials div {
    width: 30%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials div a {
    text-decoration: none;
    color: #104e7a;
    font-size: 2rem;
    transition: transform .2s ease-in-out;
}

.socials div a:hover {
    transform: translateY(-3px);
    color: #196eac;
}

.results {
    overflow-y: auto;
    overflow-x: none;
}